---
import Button from '../ui/Button.astro';

interface Props {
    badge?: string;
    title: string;
    description: string;
    buttons?: Array<{
        icon?: astroHTML.JSX.Element;
        text: string;
        variant?: 'default' | 'secondary' | 'link' | 'destructive' | 'outline' | 'ghost';
        href: string;
    }>;
    videoSrc?: string;
    imageSrc?: string;
    image768Src?: string;
    image430Src?: string;

}
const { badge, title, description, videoSrc, imageSrc, image768Src, image430Src, buttons } = Astro.props;
---

<section
    class="relative flex min-h-dvh flex-col-reverse items-center justify-between py-0 lg:flex-row">
    <div
        class="absolute inset-0 z-0 hidden lg:block"
        style={{
            background: `
            radial-gradient(ellipse 120% 80% at 70% 20%, rgba(255, 20, 147, 0.15), transparent 50%),
            radial-gradient(ellipse 100% 60% at 30% 10%, rgba(0, 255, 255, 0.12), transparent 60%),
            radial-gradient(ellipse 90% 70% at 50% 0%, rgba(138, 43, 226, 0.18), transparent 65%),
            radial-gradient(ellipse 110% 50% at 80% 30%, rgba(255, 215, 0, 0.08), transparent 40%),
            `,
        }}>
    </div>
    <div
        class="absolute bottom-10 z-20 flex flex-col px-4 lg:relative lg:w-[50%] lg:gap-5 lg:px-[10%] lg:pr-0">
        {badge && <p class="text-foreground font-light uppercase">{badge}</p>}
        <h1
            class="text-foreground font-cocogoose [&_span]:text-primary text-5xl leading-tight [text-shadow:0_0_10px_rgba(255,255,255,0.65)] md:text-6xl lg:text-7xl [&_span]:[text-shadow:0_0_10px_rgba(94,111,182,0.65)]"
            set:html={title}
        />
        <p class="text-foreground my-4 md:text-xl lg:my-8">{description}</p>
        <div class="flex flex-col gap-4 font-medium md:flex-row">
            {
                buttons?.map((button) => (
                    <Button
                        variant={button.variant || 'default'}
                        href={button.href}
                        class="h-fit items-center gap-1 rounded-full px-6 py-3">
                        {button.icon && <button.icon />}
                        {button.text}
                    </Button>
                ))
            }
        </div>
    </div>
    <div class="relative h-screen lg:block lg:h-[720px] lg:w-[45%] lg:rounded-l-full">
        {
            videoSrc && (
                <video
                    autoplay
                    loop
                    muted
                    playsinline
                    data-wf-ignore="true"
                    data-object-fit="cover"
                    poster={imageSrc}
                    class="h-full w-full [mask-image:radial-gradient(ellipse_70%_70%_at_50%_-10%,#000_90%,transparent_110%)] object-cover lg:rounded-l-full">
                    <source src={videoSrc} type="video/mp4" />
                </video>
            )
        }
        {
            imageSrc && !videoSrc && (
                <picture >
                    <source srcset={image430Src} type="image/avif" media="(max-width: 430px)" />
                    <source srcset={image768Src} type="image/avif" media="(max-width: 767px)" />
                    <img src={imageSrc} alt={title} class="relative z-10 h-full w-full [mask-image:radial-gradient(ellipse_130%_80%_at_50%_-10%,#000_30%,transparent_90%)] object-cover lg:rounded-l-full lg:[mask-image:none]"/>
                </picture>
                <picture >
                    <source srcset={image430Src} type="image/avif" media="(max-width: 430px)" />
                    <source srcset={image768Src} type="image/avif" media="(max-width: 767px)" />
                    <img src={imageSrc} alt={title} class="h-full w-full lg:rounded-l-full object-cover absolute inset-0 blur-2xl [mask-image:radial-gradient(ellipse_130%_80%_at_50%_-10%,#000_30%,transparent_110%)] lg:[mask-image:none]"/>
                </picture>

                // <img
                //     src={imageSrc}
                //     alt={title}
                //     class="relative z-10 h-full w-full lg:rounded-l-full object-cover [mask-image:radial-gradient(ellipse_130%_80%_at_50%_-10%,#000_30%,transparent_90%)] lg:[mask-image:none]"
                // />
                // <img
                //     src={imageSrc}
                //     alt={title}
                //     class="h-full w-full lg:rounded-l-full object-cover absolute inset-0 blur-2xl [mask-image:radial-gradient(ellipse_130%_80%_at_50%_-10%,#000_30%,transparent_110%)] lg:[mask-image:none]"
                // />
            )
        }
    </div>
</section>
