---
import { ArrowRight } from "lucide-react";
import Button from "../ui/Button.astro";

// Datos de servicios organizados en una estructura reutilizable
const services = [
    {
        id: 1,
        title: "Servicios de Desarrollo Web y Móvil",
        description:
            "Nos especializamos en ofrecer servicios de desarrollo web y móvil, tanto en el frontend como en el backend. Nuestro equipo de expertos utiliza las últimas tecnologías y mejores prácticas para crear aplicaciones intuitivas y eficientes.",
        image: "/images/service/service1.png",
        alt: "Desarrollo Web y Móvil",
        href: "https://shadcnblocks.com",
    },
    {
        id: 2,
        title: "Creación de Chatbots Inteligentes",
        description:
            "Ofrecemos servicios de desarrollo de chatbots inteligentes que mejoran la interacción con los usuarios y optimizan los procesos de atención al cliente. Nuestros chatbots son personalizables y se integran fácilmente en diversas plataformas.",
        image: "/images/service/service2.png",
        alt: "Chatbots Inteligentes",
        href: "https://shadcnblocks.com",
    },
    {
        id: 3,
        title: "Marketing Digital y SEO Efectivo",
        description:
            "Nuestro equipo de marketing digital ofrece estrategias personalizadas para mejorar la visibilidad en línea de tu negocio. Desde SEO hasta campañas publicitarias, nos aseguramos de que tu marca alcance su máximo potencial en el mundo digital.",
        image: "/images/service/service3.png",
        alt: "Marketing Digital y SEO",
        href: "https://shadcnblocks.com",
    },
];
---

<section class="relative p-0">
    <div
        class="absolute h-full w-full bg-[url('/images/grid1.svg')] [mask-image:linear-gradient(to_right,white,transparent,transparent,white)] bg-contain bg-repeat opacity-100 lg:block dark:opacity-5"
    >
    </div>
    <div class="container py-28 md:py-32 mx-auto px-2 md:px-6 lg:px-8">
        <div class="mx-auto flex max-w-5xl flex-col items-center">
            <div
                class="z-10 mx-auto flex max-w-5xl flex-col items-center gap-6 text-center"
            >
                <span
                    data-slot="badge"
                    class="inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive overflow-hidden text-foreground [a&]:hover:bg-accent [a&]:hover:text-accent-foreground transition-colors hover:bg-secondary/20"
                >
                    Nuestros servicios
                </span>
                <div>
                    <h2
                        class="mb-6 text-4xl font-bold tracking-tight text-pretty md:text-5xl lg:text-6xl"
                    >
                        En Devs Hub ofrecemos soluciones digitales
                        personalizadas
                    </h2>
                    <p
                        class="mx-auto max-w-2xl text-muted-foreground md:text-lg lg:text-xl"
                    >
                        Ofrecemos una amplia gama de servicios diseñados para
                        satisfacer las necesidades de tu negocio, incluyendo
                        desarrollo web, marketing digital y consultoría
                        estratégica.
                    </p>
                </div>
                <div class="mt-6 flex items-center gap-4">
                    <Button href="#" variant="primary" class="group">
                        Comenzar
                    </Button>
                    <Button href="#" variant="outline" class="group">
                        Más información
                    </Button>
                </div>
                <div
                    class="grid gap-6 mt-12 md:grid-cols-2 lg:grid-cols-3 lg:gap-8"
                >
                    {
                        services.map((service) => (
                            <div
                                data-slot="card"
                                class="relative bg-card text-card-foreground flex-col gap-6 rounded-xl border py-6 shadow-sm grid grid-rows-[auto_auto_1fr_auto] pt-0 hover:border-primary transition-all duration-200 group"
                            >
                                <div class="absolute -z-10 inset-0 bg-gradient-to-b from-primary to-accent h-full rounded-xl group-hover:blur-xl transition-all ease-in-out duration-300" />

                                <div class="aspect-16/9 w-full rounded-t-xl overflow-hidden">
                                    <a
                                        href={service.href}
                                        target="_blank"
                                        class="transition-opacity duration-200 fade-in hover:opacity-70"
                                    >
                                        <img
                                            src={service.image}
                                            alt={service.alt}
                                            class="h-full w-full object-cover object-center"
                                            loading="lazy"
                                        />
                                    </a>
                                </div>
                                <div
                                    data-slot="card-header"
                                    class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6"
                                >
                                    <h3 class="text-lg font-semibold hover:underline md:text-xl">
                                        <a href={service.href} target="_blank">
                                            {service.title}
                                        </a>
                                    </h3>
                                </div>
                                <div data-slot="card-content" class="px-6">
                                    <p class="text-muted-foreground">
                                        {service.description}
                                    </p>
                                </div>
                                <div
                                    data-slot="card-footer"
                                    class="flex items-center px-6 [.border-t]:pt-6"
                                >
                                    <a
                                        href={service.href}
                                        target="_blank"
                                        class="flex items-center text-foreground group hover:underline"
                                    >
                                        Leer más
                                        <ArrowRight className="ml-2 size-4 group-hover:translate-x-1.5 transition-transform" />
                                    </a>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
